<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>video</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <video id="ma-video" autoplay loop>
    <source src="https://ihm2019.afihm.org/documents/ihm19_grenoble.mp4" type="video/mp4">
  </video>

  <ion-button *ngIf="!play" (click)="handlePlayPause()">Play</ion-button>
  <ion-button *ngIf="play" (click)="handlePlayPause()">Pause</ion-button>

</ion-content>
